<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS setup</title>
    <style>
        body{
            background-color: black;
            color: aliceblue;
        }
    </style>
</head>
<body>
    <h1>We are learning EJS <%= name %></h1>
    <ul>
        <li>Product Name=<%= products[0].title%> Price=<%= products[0].price %></li>
    </ul>
</body>
</html>