<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <form action="/short" method="POST">
            <label for="longURL">Enter Long URL:</label>
            <input type="text" name="longURL" id="longURL" required>
            <button type="submit">Shorten</button>
        </form>

        <% if (shortURL) { %>
            <p>Short URL: 
                <a href="<%= shortURL %>" target="_blank"/>
                <%= shortURL %>
            </p>
        <% } %>
    </div>
</body>
</html>
